*{
    max-width: 100vw; /* set maximum width to viewport width */
    max-height: 100vh; /* set maximum height to viewport height */
}

body {
    max-width: 100vw; /* set maximum width to viewport width */
    max-height: 100vh; /* set maximum height to viewport height */
    overflow-x: hidden; /* hide horizontal scrollbar */
    overflow-y: auto; /* enable vertical scrollbar when necessary */
    margin: 0px;
    padding: 0px;
    background-color: black;
    /* background-image: url(/static/background1.jpg); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    color: #27d804;
    font-size: 5vw;
    font-family: 'Courier New';
}

.table_text { white-space:pre }

table{

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #27d804;
}

#data-table td {
    padding-left: 1vw;
    padding-right: 1vw;
  }

.spacer td {
    border: 2px solid #27d804;
    border-radius: 8px;
    background-color: #676f66;
    font-size: 2h;
  }

#data-table td * {
    user-select: text;
    align-items: center;
    }

 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
    border: none;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    outline: none;
    text-align: center;
    font-family: 'Courier New', monospace;
    background-color: #4bb66b;
    display: flex;
    margin-right: auto;
    margin-left: auto;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #4bdb2b;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    position:absolute;
    z-index: 1;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 2vh;
  } 

  .link-container a {
    font-size: 2.7vh;
    display: inline-block !important;
    white-space: normal !important;
    color: #27d804;

}